<div class="header" style="padding-top: 80px">
  <div class="container">
<!--     <%= image_tag("municipio.jpg") %>
 -->    <h3 class="text-center"> Republica de Panama</h3>
    <h4 class="text-center"> Municipio de San Miguelito </h4>
    <hr>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_for @busqueda do |s| %>
      <div>
        <%= s.label "Acreedor"%>
        <%= s.text_field :acreedor%>
      </div>
      <br>
      <div>
        <%= s.label "Id de Acreedor"%>
        <%= s.text_field :id_acreedor%>
      </div>
      <br>
      <div>
        <%= s.label "ID EMPLEADO"%>
        <%= s.text_field :id_empleado%>
      </div>
      <br>
      <br>
      <%= s.submit "Filtrar"%>
      <% end %>
    </div>
  </div>

</div>
<div class="container" style="padding-top: 50px">
  <table class="table">
    <thead>
      <tr>
        <th>Acreedores</th>
        <th>Id de acreedor</th>
        <th>Numero de Empleado</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha<th>
        <th>Pago</th>
        <th>Id</th>
        </tr>
      </thead>
</div>
