<div class="header" style="padding-top: 80px">
  <div class="container">
    <h3 class="text-center"> Republica de Panama</h3>
    <h4 class="text-center"> Municipio de San Miguelito </h4>
    <hr>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Importar Archivo</p>
      <%= form_tag import_nominas_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br>
      <%= submit_tag "Importar" %>
      <% end %>
    </div>
    <div class="col-md-6 text-right">
      <p>Acreedor</p>
      <%= form_tag nominas_path, method: :get do %>
          <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'Filtrar' %>
      <% end %>
      <%= link_to "Fitro Avanzado", new_busqueda_path %>
    </div>
  </div>
</div>
<% if @busqueda.busqueda_nomina.empty? %>
  <p> 0 resultados <p>
<% elsif %>
<div class="container" style="padding-top: 50px">
  <table class="table">
    <thead>
      <tr>
        <th>Acreedores</th>
        <th>Id de acreedor</th>
        <th>Numero de Empleado</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha<th>
        <th>Pago</th>
        <th>Id</th>
        </tr>
      </thead>
      <tbody>
  <% @busqueda.busqueda_nomina.each do |resultado| %>
        <tr>
          <td><%= resultado.acreedor %></td>
          <td><%= resultado.n1%></td>
          <td><%= resultado.n2%></td>
          <td><%= resultado.nombre%></td>
          <td><%= resultado.apellido%></td>
          <td><%= resultado.fecha%></td>
                    <td></td>

          <td><%= resultado.pago%></td>
          <td><%= resultado.id_acreedor%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
