<div class="header" style="padding-top: 80px">
  <div class="container">
    <h3 class="text-center"> Republica de Panama</h3>
    <h4 class="text-center"> Municipio de San Miguelito </h4>
    <hr>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Importar Archivo</p>
      <%= form_tag import_nominas_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br>
      <%= submit_tag "Importar" %>
      <% end %>
    </div>
    <div class="col-md-6 text-right">
     <%= link_to destroy_user_session_path, method: :delete do %>
     <i class=""></i>  <%= t(".sign_out", default: "Log out") %>
     <% end %>
     <p>Acreedor</p>
     <%= form_tag nominas_path, method: :get do %>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag 'Filtrar' %>
     <% end %>
     <%= link_to "Fitro Avanzado", new_filtro_path %>
   </div>
 </div>
</div>
<% if @filtro.filtro_nomina.empty? %>
<div class="container">
  <p> 0 resultados </p>
</div>
<% elsif %>
<div class="container" style="padding-top: 50px">
  <table class="table">
<h5>Total : <%= @filtro.total_en_quicenas %></h5>
    <thead>
      <tr>
        <th>Acreedores</th>
        <th>Id de acreedor</th>
        <th>Numero de Empleado</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha<th>
          <th>Pago</th>
          <th>Id</th>
          <th>Cheque</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @filtro.filtro_nomina.each do |resultado| %>
        <tr>
          <td> <p><%= resultado.acreedor %></p></td>
          <td><p><%= resultado.n1%></p></td>
          <td><p><%= resultado.n2%></p></td>
          <td><p><%= resultado.nombre%></p></td>
          <td><%= resultado.apellido%></td>
          <td><p><%= resultado.fecha%></p></td>
          <td></td>
          <td><p><%= resultado.pago%></p></td>
          <td><p><%= resultado.id_acreedor%></p></td>
          <td><%= resultado.cheque %></td>
          <td><%= link_to "Numero de cheque", edit_nomina_path(resultado)%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
</div>
