<div class="header" style="padding-top: 80px">
  <div class="container">    <h3 class="text-center"> Republica de Panama</h3>
    <h4 class="text-center"> Municipio de San Miguelito </h4>
  </div>
  <hr>
</div>
<br>
<br>
<div class="container">
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
